.header{
    width: 100%;
    position: fixed;
    top: 0;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #000;
    z-index: 100;
    padding: 1rem;
    // border-bottom: 2px solid black;
    &__logo{
        display: flex;
        align-items: center;
        font-size: 6rem;

        font-weight: 600;
        cursor: pointer;
        margin-left: 10rem;


        // @media only screen 
        // and (min-device-width : 48rem) 
        // and (max-device-width : 64rem) 
        // and (orientation : landscape)
        // {   
        //     font-size: 1.5rem;
        //     margin-left: 4rem;

        // }


        img{
            height: 13rem;            width: 12rem;
        }
    
        a{
            text-decoration: none;
            color: $color-white;
            margin-left: 4rem;
            padding-right: 82rem;
              

        }

   






   
    }

      &__navigation{
        display: flex;

        list-style: none;
        padding: 2rem 0;




        a{
            text-decoration: none;
            font-size: 3rem;
            color: $color-white;
            font-weight: 700;
            
        // @media only screen 
        // and (min-device-width : 48rem) 
        // and (max-device-width : 64rem) 
        // and (orientation : landscape)
        // {   
        //     font-size: 1rem;

        // }



    }
    li{
        margin: 0 5rem;
        display: inline-block;
        transition: all 0.2s ease;
        cursor: pointer;
        padding: 2rem;


        // @media only screen 
        // and (min-device-width : 48rem) 
        // and (max-device-width : 64rem) 
        // and (orientation : landscape)
        // {   
        //     margin: 0 1.5rem;

        // }


        


        


    }
}
li:hover{
  
    transform: translateY(-1rem) scale(1.03);
    border-bottom: 1px solid $color-white;

    
}

}


