.main--left{

  position: absolute;
  top: 30%;
  left: 10%;
  width: 32%;  height: 40%;
&__description{

    font-size: 3rem;
    transition: all 0.3s;
    color: white;
    margin-bottom: 3rem;
    // @media only screen 
    // and (min-width : 74rem) 
    // {
      
    //     left: 61%;

    
       
        
    // }
    // @media only screen 
    // and (min-width : 64rem) 
    // and (max-width : 74rem) 
    // {          width: 93rem;
    //     font-size: 3rem;
    //     margin-left: 10rem;

    // }


    // @media only screen 
    // and (min-device-width : 48rem) 
    // and (max-device-width : 64rem) 
    // and (orientation : landscape)
    // {   
    //     left: 55%;
    //     width: 85rem;
    //     font-size: 2.5rem;
    // }

  
    span{
      font-size: 13rem;        font-weight: 700;
        // @media only screen 
        // and (min-width : 64rem) 
        // and (max-width : 74rem) 
        // {
        //     font-size: 4rem;
        // }


        // @media only screen 
        // and (min-device-width : 48rem) 
        // and (max-device-width : 64rem) 
        // and (orientation : landscape)
        // {   
        //     font-size: 3.5rem;    
        // }

   

    }
    &:hover{
        transform: translateY(-6rem);
        // @media only screen 
        // and (min-device-width : 48rem) 
        // and (max-device-width : 64rem) 
        // and (orientation : landscape)
        // {   
        //     transform: translateY(-2rem);

        // }
    }

}

animation-fill-mode:forwards; 

&__nonstop-text{
  
    color: white;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 8rem;
    display: flex;
    justify-content: flex-start;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    align-items: center;

    // @media only screen 
    // and (min-width : 74rem) 
    // {
      
    //     left: 61%;

    
       
        
    // }
    // @media only screen 
    // and (min-width : 64rem) 
    // and (max-width : 74rem) 
    // {    
        
    //     width: 92rem;
    //     top: 46%;
    //     border-top: 1.5px solid $color-white;

    //     border-bottom: 1.5px solid $color-white;
    //     font-size: 1.5rem;
    //     margin-left: 10rem;

    // }



    // @media only screen 
    // and (min-device-width : 48rem) 
    // and (max-device-width : 64rem) 
    // and (orientation : landscape)
    // {   
    //     left: 55%;
    //     /* margin-top: 1.7rem; */
    //     padding: 2rem;
    //     width: 83rem;
    //     top: 48%;
    //     border-top: 1px solid $color-white;

    //     border-bottom: 1px solid $color-white;
    //     font-size: 0.8rem;


    // }

    &--scrolling{
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
      
        font-size: 3rem;
        
    }

       

}
}



/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }  